@import "tailwindcss";
@plugin "daisyui";

body {
   font-family: "Public Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important; /* Set your desired text color */
  transition: background-color 5000s ease-in-out 0s;
}
